@font-face {
    font-family: 'QuinqueFive';
    src: url('../fonts/Quinquefive-K7qep.ttf');
}

.line {
    -fx-stroke: #F9F871;
    -fx-opacity: 0.7;
}

.line-ball-collision {
    -fx-opacity: 1;
}

#score {
    -fx-font-family: "QuinqueFive";
    -fx-font-size: 70px;
}

#time {
    -fx-font-family: "QuinqueFive";
    -fx-font-size: 50px;
}